In [2]:
import pandas as pd
import glob

In [9]:
biomass = {}
for path in glob.glob("resources/biomass_potentials_s_37_*.csv"):
    biomass[path.split('.')[0].split('_')[-1]] = pd.read_csv(path)
biomass.keys()

In [14]:
biomass_totals = pd.DataFrame(columns = biomass['2020'].columns[1:])

for year in biomass.keys():
    biomass_totals.loc[year] = biomass[year].sum()

In [22]:
biomass_totals.sort_index(inplace=True)
biomass_totals.divide(biomass_totals.loc['2020'],axis=1)

        biogas not included solid biomass
2020       1.0          1.0           1.0
2030  1.008794     1.148193       0.84523
2040  1.020041     1.175227      0.831471
2050  1.031018     1.211317      0.826577

In [26]:
# in TWh
biomass_totals/1e6

          biogas not included solid biomass
2020  333.407106  1446.436147   1227.589273
2030  336.339194  1660.787557   1037.595191
2040  340.088885  1699.890442   1020.704955
2050  343.748728  1752.092584   1014.697389